* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:beige
}
.menu {
    display:none

}
.Stoths-Travel {
    padding: 10px 0;
    margin-left: 1.5%;
    font-size: 40px;
  }
  .Home {
      margin-top: 20px;
      margin-right: 6%;
      margin-left: 3%;
      padding: 10px 0;
      background-color: burlywood;
      border-style: none;
      font-weight: bold;
      font-size: 30px;
  }
  .Home:hover{
    background-color: lightgrey;
    color: burlywood;;
  }
  
  .Full-Gallery {
      
      margin-right: 8%;
      margin-left: 3%;
      margin-top: 20px;
      padding: 10px 0;
      font-size: 30px;
      background-color: burlywood;
      border-style: none;
      
      font-weight: bold;    
  }
  .Full-Gallery:hover{
    background-color: lightgrey;
    color: burlywood;;
  }
  .btn{
    background-color:  #ededed;
    border: none;
    padding: 10px 0;
    font-size: 22px;
    color: black;
  }
  .btn:hover{
    background-color: lightgrey;
    color: burlywood;;
  }

  #menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: burlywood;;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#burger-menu
{
  position: absolute;
  width: 70%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
 
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#burger-menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#burger-menu:hover{
    color:aqua
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
  }
  
  h5{
    font-size: 50px;
  }
/* Gallery */
  header{
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    margin: 10%;
    margin-bottom: 5%;
    border-bottom-width: thick;
    border-color: black;
    border-bottom-style: solid;
    width: 80%;
  }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Tarangire*/

.Tarangire-gallery{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;

}
.Tarangire_gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}
.Tarangire_gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}
.Tarangire_gallery__item--3 {
  grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}
.Tarangire_gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}
.Tarangire_gallery__item--5 {
  grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
}
.Tarangire_gallery__item--6 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}
/*Crater*/
.Crater-gallery{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;

}
.Crater_gallery__item--1 {
  grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}
.Crater_gallery__item--2 {
  grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}
.Crater_gallery__item--3 {
  grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
}
.Crater_gallery__item--4 {
  grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 9;
}
.Crater_gallery__item--5 {
  grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 9;
}
.Crater_gallery__item--6 {
  grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}
/*Serengeti*/

  .Serengeti-gallery{
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 5vw);
      grid-gap: 15px;
  
  }

.Serengeti_gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.Serengeti_gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.Serengeti_gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.Serengeti_gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}
.Serengeti_gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}
.Serengeti_gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

@media (min-width:768px){
#menuToggle{
        display: none;
    }
 .menu{
    display:flex;
    flex-direction:row;
    text-align:center;
    justify-content:start;
    padding-bottom: 2%;
    color: black;
    background-color:burlywood;
    align-items: center;
    padding-top: 2%;
 } 
 ul{
    display: flex;
 }  
 .btn{
  padding-right: 3%;
  margin-right: 20%;
  padding-left: 3%;
  background-color: burlywood;
  border-style: none;
  padding-top: 10px;
  font-weight: bold;
  font-size: 30px;
  margin-top: 22px
 }
}
@media (min-width:1024px){
    .Home{
      margin-right: 120px;
      margin-left: 120px;
    }
    .Full-Gallery{
      margin-right: 120px;
    }
}
@media (min-width: 1350px){
    .Home{
      margin-right: 200px;
      margin-left: 200px;
    }
    .Full-Gallery{
      margin-right: 200px;
    }
  }

  